@layer components, base;

@layer components {
	:root {
		color-scheme: light dark;
		interpolate-size: allow-keywords;

		--radius: 0.625rem;
		--spacing: 0.25rem;

		--color-background: light-dark(#fff, lab(2.75381% 0 0));
		--color-foreground: light-dark(
			lab(7.78201 -0.0000149012 0),
			lab(90.952 0 -0.0000119209)
		);

		--color-foreground-alt: light-dark(
			lab(15.204 0 -0.00000596046),
			lab(84.92 0 -0.0000119209)
		);

		--color-primary-background: light-dark(
			lab(7.78201% -0.0000149012 0),
			lab(90.952% 0 -0.0000119209)
		);
		--color-primary-foreground: light-dark(
			lab(98.26% 0 0),
			lab(7.78201% -0.0000149012 0)
		);

		--color-secondary-background: light-dark(
			lab(96.52% -0.0000298023 0.0000119209),
			lab(15.204% 0 -0.00000596046)
		);
		--color-secondary-foreground: light-dark(
			lab(7.78201% -0.0000149012 0),
			lab(98.26% 0 0)
		);

		--color-destructive: light-dark(
			lab(48.4493% 77.4328 61.5452),
			lab(63.7053% 60.745 31.3109)
		);
		--color-input: light-dark(
			lab(90.952% 0 -0.0000119209),
			lab(100% 0 0 / 0.15)
		);

		--color-muted-background: light-dark(
			lab(96.52% -0.0000298023 0.0000119209),
			lab(15.204% 0 -0.00000596046)
		);
		--color-muted-foreground: lab(66.128% -0.0000298023 0.0000119209);

		--color-ring: light-dark(
			lab(66.128% -0.0000298023 0.0000119209),
			lab(48.496% 0 0)
		);

		--color-border: light-dark(
			lab(90.952% 0 -0.0000119209),
			lab(100% 0 0 / 0.1)
		);
		--font-family-default:
			-apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
			Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

		--font-size-xsmall: 0.75rem;
		--font-size-small: 0.8rem;
		--font-size-default: 0.875rem;

		--font-weight-light: 300;
		--font-weight-normal: 400;
		--font-weight-medium: 500;
		--font-weight-semibold: 600;
		--font-weight-bold: 700;
		--font-weight-extrabold: 800;
	}

	* {
		box-sizing: border-box;
	}

	html {
		text-size-adjust: 100%;
		scrollbar-gutter: stable;
		-webkit-text-size-adjust: 100%;
		tab-size: 4;
		line-height: 1.5;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		margin: 0;
		background: var(--color-background);
		color: var(--color-foreground);
		font-optical-sizing: auto;
		font-kerning: auto;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: var(--font-family-default);
	}

	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		overflow-wrap: break-word;
		text-wrap: balance;
		letter-spacing: -0.025em;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.875rem;
		border-bottom: 1px solid lab(100 0 0 / 0.1);
		padding-bottom: calc(var(--spacing) * 2);
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	p {
		font-size: 15px;
		color: var(--color-foreground-alt);
	}

	blockquote {
		text-align: left;
		margin: 0;
		color: var(--color-foreground-alt);
		font-style: italic;
		border-left: 2px solid var(--color-border);
		padding-left: calc(var(--spacing) * 5);
	}
}
